@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --larguraMaxima: 800px;
}

* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img {
    max-width: 100%;
    border-radius: 1rem;
}

#corpo {
    background-image: linear-gradient(0deg, #73473E, #8ABBDC);
    min-height: 100vh;
}

.cabecalho {
    max-width: var(--larguraMaxima);
    margin: 0 auto;
    padding: 1rem;
    border-bottom: 1px solid #333333;
    text-align: center;
    letter-spacing: 0.3rem;
}

.principal {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    max-width: var(--larguraMaxima);
    margin: 0 auto;
    padding: 1rem;
    border-bottom: 1px solid #333333;
}

.principal-paragrafo {
    letter-spacing: 0.05rem;
    text-align: justify;
}

#principal-paragrafo-id {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    color: red;
}

.principal-paragrafo-class {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20pt;
    color: blue;
}

.rodape {
    max-width: var(--larguraMaxima);
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

.rodape-paragrafo-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.rodape-paragrafo-link:hover {
    text-decoration: underline;
}
